.side_bar_main_div {
  padding: 35px 25px;
  position: relative;
  height: calc(100vh - 90px);
}
.menu_box {
  color: var(--text-color);
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 15px;
    label {
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      margin-left: 12px;
    }
    svg {
      font-size: 22px;
    }
}
.sidebar_menu_items_div {
  padding: 15px 15px;
  background-color: #E6E6E6;
  position: absolute;
  top: 0px;
  right: -320px;
  width: 320px;
  height: 100%;
  z-index: 9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  margin-bottom: 20px;
  h5 {
    margin-bottom: 0px;
    font-size: 18px;
  }
  svg {
    cursor: pointer;
  }
}
.search_div {
  margin-bottom: 20px;
  input {
    height: 42px;
    border-radius: 0px;
  }
}
.search_div input:focus {
  box-shadow: none;
  border-color: var(--light-red);
}
.scroll_div {
  overflow: auto;
  height: calc(100vh - 250px);
}
.items_list_div {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  h6 {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 12px;
  }
  .items_list_flex_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .items_box {
      height: 80px;
      width: 80px;
      background-color: #d7d7d7;
      border-radius: 5px;
    }
  }
}
